@import "tailwindcss";


/* colors cycle for hero section */
@keyframes colorCycle {
  0% {
    background-color: #1A1A1F;   /* true dark */
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.25;
  }

  50% {
    background-color: #4B2E83;   /* soft violet */
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0.45;
  }

  100% {
    background-color: #1A1A1F;   /* back to dark */
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.25;
  }
}



@keyframes buttonCycle {
  0% { 
    background-color: #7A1CAC;   
    border-color: #5E148C;      
    transform: scale(1);
  }

  25% { 
    background-color: #8A2BE2;   
    border-color: #7A1CAC;      
    transform: scale(1.02);
  }

  50% { 
    background-color: #B56BFF;   
    border-color: #8A2BE2;       
    transform: scale(1.03);
  }

  75% { 
    background-color: #8A2BE2;   
    border-color: #7A1CAC;       
    transform: scale(1.02);
  }

  100% { 
    background-color: #7A1CAC;   
    border-color: #5E148C;       
    transform: scale(1);
  }
}

