@import "tailwindcss";


/* colors cycle for hero section */
@keyframes colorCycle {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.15); 
    opacity: 0.5; 
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
}

@keyframes buttonCycle {
  0%   { 
    background-color: rgba(0, 229, 255, 0.05); 
    border-color: rgba(0, 229, 255, 0.2);
    transform: scale(1);
  }
  50%  { 
    background-color: rgba(0, 229, 255, 0.15); 
    border-color: rgba(0, 229, 255, 0.7); 
    transform: scale(1.03);
  }
  100% { 
    background-color: rgba(0, 229, 255, 0.05); 
    border-color: rgba(0, 229, 255, 0.2);
    transform: scale(1);
  }
}
